<div class="center">
    <h1>Experimentos</h1>
</div>
<div>
    <% for (var i=0; i < experimentos.length; i++) { %>
            <div class="center">
                <div class="card">
                    <div class="card-container">
                        <h3>
                            <b>
                                <%= experimentos[i].experiment %>
                            </b>
                            <i onclick="onClickDelete('<%= experimentos[i].experiment %>')" class="material-icons"
                                style="float: right;">delete_forever</i>
                        </h3>
                        <h4>
                            <%= experimentos[i].activity %>
                        </h4>
                        <p>
                            <%= new Date(experimentos[i].time).toString() %>
                        </p>
                        <p>
                            <a onclick="onClickCard('<%= experimentos[i].experiment %>')" href="#">Conteúdo: <%=
                                experimentos[i].content %>
                                    arquivos</a>
                        </p>
                        <% if (experimentos[i].error > 0) { %>
                            <p style="background-color:red; text-align: center;">Post Processor Error! Check the 'err.log' file.</p>
                        <% } %>
                        <% if (experimentos[i].videoAvailable === false) { %>
                            <p><button onclick="location.href='/upload?experiment=<%= experimentos[i].experiment %>'">Upload</button></p>
                        <% } else { %>
                            <p><button onclick="onClickWatch('<%= experimentos[i].experiment %>')">Watch</button></p>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
</div>
<section class="bottom">
    <div class="center">
        <button onclick="window.history.back()" class="btn">Back</button>
    </div>
</section>

<script type="text/javascript">

    function onClickCard(experiment) {
        window.location.href = '/experimentos/download?experiment=' + encodeURI(experiment);
    }

    function onClickWatch(experiment) {
        window.location.href = '/experimentos/watch?experiment=' + encodeURI(experiment);
    }

    function onClickDelete(experiment) {
        let text = "Remover arquivos relacionados ao " + experiment + "?";
        if (confirm(text) == true) {
            alert('TODO');
        }
    }

</script>