<div class="center">
    <h1>Experimentos</h1>
</div>
<div>
    <% for (var i=0; i < experimentos.length; i++) { %>
            <div class="center">
                <div class="card">
                    <div class="card-container">
                        <h3>
                            <b>
                                <%= experimentos[i].experiment %> [<%= experimentos[i].user %>]
                            </b>
                            <i onclick="onClickDelete('<%= experimentos[i].directory %>')" class="material-icons"
                                style="float: right;">delete_forever</i>
                        </h3>
                        <h4>
                            <%= experimentos[i].activity %>
                        </h4>
                        <p>
                            <%= new Date(experimentos[i].time).toString() %>
                        </p>
                        <p>
                            <a onclick="onClickFiles('<%= experimentos[i].directory %>')" href="#">Conteúdo: <%=
                                experimentos[i].content %>
                                    arquivos</a>
                        </p>
                        <% if (experimentos[i].error > 0) { %>
                            <p style="background-color:red; text-align: center;">Post Processor Error! Check the 'err.log' file.</p>
                        <% } %>
                        <% if (experimentos[i].videoAvailable === false) { %>
                            <p><button onclick="onClickUpload('<%= experimentos[i].directory %>')">Upload</button></p>
                        <% } else { %>
                            <p><button onclick="onClickWatch('<%= experimentos[i].directory %>')">Watch</button></p>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
</div>
<section class="bottom">

</section>

<script type="text/javascript">

    function onClickFiles(directory) {
        console.log(directory);
        window.location.href = encodeURI('/experimentos/download?experiment=' + directory);
    }

    function onClickUpload(directory) {
        window.location.href = encodeURI('/upload/?directory=' + directory);
    }

    function onClickWatch(directory) {
        window.location.href = encodeURI('/experimentos/watch?experiment=' + directory);
    }

    function onClickDelete(directory) {
        let text = "Remover arquivos relacionados ao " + directory + "?";
        if (confirm(text) == true) {
            alert('TODO');
        }
    }

</script>