<script src="https://d3js.org/d3.v4.js"></script>

<style>
    * { box-sizing: border-box; }
</style>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        <div class="video_container td">
            <video controls preload="auto">
                <source src="<%= data.path %><%= data.video %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="column" style="background-color:#bbb;">
        <div class="graph_subtitles">
            <canvas style="background-color: red;"></canvas>
            <label class="graph_subtitles_child">X (value 1)</label>
            <canvas style="background-color: green;"></canvas>
            <label class="graph_subtitles_child">Y (value 2)</label>
            <canvas style="background-color: blue;"></canvas>
            <label class="graph_subtitles_child">Z (value 3)</label>
        </div>
        <% if (data.csv.length === 0) { %>
            <p>Missing CSV files.</p>
        <% } else { %>
            <div>
                <select id="graph_selector_01">
                    <% for (var i=0; i < data.csv.length; i++) { %>
                        <option value='<%= data.csv[i] %>'>
                            <%= data.csv[i] %>
                        </option>
                        <% } %>
                </select>
                <div id="svg_graph_01"></div>
            </div>
            <div>
                <select id="graph_selector_02">
                    <% for (var i=0; i < data.csv.length; i++) { %>
                        <option value='<%= data.csv[i] %>'>
                            <%= data.csv[i] %>
                        </option>
                        <% } %>
                </select>
                <div id="svg_graph_02"></div>
            </div>
        <% } %>
    </div>
</div>

<section class="bottom">
    <div class="center">
        <button onclick="window.history.back()" class="btn">Back</button>
    </div>
</section>

<script src="/graph/graph.js"></script>

<script type="text/javascript">

    const graph1 = new Graph("svg_graph_01");
    const graph2 = new Graph("svg_graph_02");

    const video = document.querySelector('video');
    const graph_selector_01 = document.getElementById('graph_selector_01');
    const graph_selector_02 = document.getElementById('graph_selector_02');

    graph_selector_01.selectedIndex = -1;
    graph_selector_02.selectedIndex = -1;

    var data_stringified = '<%- JSON.stringify(data) %>';
    var data = JSON.parse(data_stringified);
    //console.log(data);
    //console.log(data.csv);

    graph_selector_01.onchange = (event) => {
        document.getElementById("svg_graph_01").replaceChildren();
        graph1.createdGraph(graph_selector_01.value, video.currentTime * 1000);
    }

    graph_selector_02.onchange = (event) => {
        document.getElementById("svg_graph_02").replaceChildren();
        graph2.createdGraph(graph_selector_02.value, video.currentTime * 1000);
    }

    video.ontimeupdate = (event) => {
        //console.log(video.currentTime);
        if (typeof graph1.x !== "undefined")
            graph1.update(video.currentTime * 1000);

        if (typeof graph2.x !== "undefined")
            graph2.update(video.currentTime * 1000);
    };

</script>